<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <style>
    body { 
      text-align: center;
      color: #444;
      font-family: Roboto, Arial;
    }

    .activate-btn {
      margin: 20px 0;
    }

    .activate-btn a {
      display: inline-block;
      padding: 5px 12px; 
      background-color: #37D; color: #FFF; 
      cursor: pointer; 
      border-radius: 3px;
      text-decoration: none;
      font-size: 20px;
    }
  </style>
</head>
<body>
  <p><strong>Dear {{username}}.</strong></p>

  <p>kindly click the link below to activate your account:</p>

  <div class="activate-btn">
    <a href="{{activationLink}}">Activate</a>
  </div>

  <p>Thank you.</p>
</body>
</html>